.container{
    max-width: 1264px;
    padding: 0 10px;
    margin: 0 auto;
    outline: 1px solid red;
}
 .header .container{
    display: flex;
    border-radius: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #FEFCF7;
 }
.header-logo{
    color: #161616;
font-family: Manrope;
font-size: 18px;
font-style: normal;
display: flex;
gap: 12px;
align-items: center;
font-weight: 500;
line-height: normal;
}
.header-leaf{
width: 24.0px;
height: 26.0px;
fill: orange;
}
.header-btn{
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.header-menu{
    width: 18.0px;
height: 12.0px;
}
.header-list{
display: none;
}
.header-items{
display: none;
}
@media (min-width: 382px){
.container{
    width: 382px;
}
}
@media (min-width: 1264px){
   .container{
    width: 1264px;
    padding: 0 12px;
} 
.header{
    padding-top: 40px;
}
.header-btn{
    display: none;
}
.header-list{
    display: flex;
    gap: 32px;
}
.header-items{
display: flex;
gap: 32px;

}
.header-link{
color: #161616;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.header-contact{
  color: #161616;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;  
}
}
